    </body>
    <footer>
        <a href="https://rubyonrails.org/">
            <p style="text-decoration: 1px underline black">This site is running on rails</p><img src="https://rubyonrails.org/assets/images/logo.svg" style="height:2em; width:auto;">
    </footer>
</html>

