<%= render "head" %>
<%= render "navbar" %>

<main class="center-main">
    <div class="page_spacing">
        <h1 class="h1_middle" style="font-weight:100;">About</h1>
        <h1 class="h1_middle" style="animation-delay:s; font-weight:100;">Synapse S/C</h1>
    </div>
    <article>
        <h2 class="homepage_h2">The Idea</h2>
        <p>
            The purpose of the webpage is to serve as an extension for github repos,
            providing more details and proper documentation. <br><br>
            
            Furhermore, the website serves as a hub for exploration of a broad spectrum of fields and ideas. 
            Primarily through the medium programming and other computer science areas. <br><br>

            The goal is to provide informative, pure and knowledgable content. 
            Working with problems and ideas in order to learn and to teach.

            <h3>What are _ ?</h3>
            
            <b>Projects</b> serve as an extension of the corresponding github repo. 
            The projects provide more details as well as showcasing parts of the process behind each project, as well as final results. <br><br>

            <b>Publications</b> at their core are explorative. They are written to highlight an area of interest, importance or necessity.
            A publication, in contrast to a project, is more direct and more or less only about exploring the key ideas in a somewhat abstract way.
            A project on the other hand is less abstract and mor utalitarian. Exploration through doing. <br><br>

            <br><br>

            <h3>Roadmap</h3>
            <ul style="list-style:decimal-leading-zero; margin-left:15px;">
                <li style="margin:10px;">Refine page layouts and design.</li>
                <li style="margin:10px;">Fill inn projects and publications, replace placeholders.</li>
                <li style="margin:10px;">Integrate with GitHub API and provide a fluid, cross-site experience.</li>
                <li style="margin:10px;">Improve accessibility across the website.</li>
                <li style="margin:10px;">Search for projects and articles based on tags and names.</li>
                <li style="margin:10px;">Sort projects and articles, based on different parameters</li>
            </ul>
            <br>

            In the webpage's current state, the listed projects and publications are just placeholders. <b>More to come.</b> <br><br>
        </p>
    </article>
    <%= image_tag "signature (2) (1).png",class: "signature" %>
</main>

<%= render "footer" %>