<div>
    <%= form_with url: "/fx5f3jnfwmcsvot4ttqp/verify" %>
    <div>
        <%= form.label "Hash" %>
        <%= form.text_field "input_hash" &>
    </div>
    <div>
        <%= form.submit %>
    </div>

</div>